@{
    ViewData["Title"] = "Home Page";
}
<style>
    .HomeImage {
        position: relative;
    }

        .HomeImage img {
            overflow: hidden;
            justify-content: center;
            width: 85%;
            height: auto;
            border-radius: 2%;
        }

        .HomeImage h1 {
            position: absolute;
            top: 7%;
            left: 0%;
            right: 0%;
            color: white;
            font-size: 30px;
            font-family: cursive;
            text-shadow: 3px 3px black;
        }
</style>
<div class="text-center">
    <div class="HomeImage">
        <img src="https://c1.wallpaperflare.com/preview/53/759/637/people-music.jpg" />
        <h1>
            🎸Добре дошли в нашия музикален магазин!🎹
        </h1>
    </div>
</div>

